/* FIX IE6 Scrollbars bug - Leave this in! */

/* FIX IE6 Scrollbars bug - Leave this in! */

html { overflow-x: auto; } 



/* Body entry, change forum page background colour, default font, font size, etc. Leave text-align:center to center board content

   #ipwrapper will set text-align back to left for the forum. Any other tables / divs you use must use text-align:left to re-align

   the content properly. This is a work around to a known Internet Explorer bug */

BODY { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #000; margin:0px;padding:0px;background-color:#eef2f7; text-align:center }

TABLE, TR, TD { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #39537C; }



/* MAIN WRAPPER: Adjust forum width here. Leave margins alone to auto-center content */

#ipbwrapper { text-align:left; width:95%; margin-left:auto;margin-right:auto }



a:link, a:visited, a:active { color: #39537c; text-decoration:underline }

a:hover { color: #465584; text-decoration:underline }



fieldset.search { padding:6px; line-height:150% }

label      { cursor:pointer; }

form       { display:inline; }

img        { vertical-align:middle; border:0px }

img.attach { border:2px outset #EEF2F7;padding:2px }
/*releases*/
.imdb-release{
    display: block;
    padding:10px;
  	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "sans-serif";
    border-top:1px solid #EEF2F7;
    border-bottom:1px solid #EEF2F7;
    background-color:#EEF2F7;
    font: 12px verdana;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    width: 96%;
	-moz-border-radius: 0.6em; 
	}
	
	.imdb-release a:link { text-decoration: none; color: #496c9f } 
	.imdb-release a:visited { text-decoration: none; color:#092c5f } 
	.imdb-release a:hover { text-decoration: none; color:gold } 
	.imdb-release a:active { text-decoration: none; color: #496c9f }

.imdb-list{
        list-style-position: outside;  
        list-style-type: circle;
}
.imdb-entrylist{ 
        margin-top:10px;
    	color:orange;
    	font-size:10pt;
    	line-height:100%;
        font-weight:bold;
}
.imdb-data{
    color:grey; 
    font-size:8pt;
    line-height:100%;
}


.imdb-foto {
    display: block;
     padding:10px;
    color:white;
	font-size:10px;
	margin: 10px 10px 10px 0px; 
	width: 96%;
	background-color:#CCCCCC;
	-moz-border-radius: 0.6em;
	font-weight:bold;
}

    .imdb-release #locandina{
    	clear:both; 
	    margin-left:10px;
        margin-bottom:10px;
        margin-right:0px;
        margin-top:30px;
    	width:160px;
    	float: right;
    } 
 .imdb-release #fotine{
    	clear:both; 
	    margin-left:0px;
        margin-bottom:10px;
        margin-right:10px;
        margin-top:10px;
 
    	width: 500px; 
    	float: left;
    } 

  .imdb-smallTitle{
      display:block;
        margin: 0px 10px 10px 0px; 

    border:5px solid gold;
    overflow:auto;
    background-color:gold;
    font: 18px verdana;
	-moz-border-radius: 0.6em;
	font-weight:bold;
	text-transform:capitalize;
	color:white;

  }
   .imdb-season{
     margin: 10px 10px 10px 0px; 
     display: block;
     padding:10px;
    color:white;
	font-size:10px;
	margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
	float:left; width: 96%;
	background-color:gold;
	-moz-border-radius: 0.6em;
	font-weight:bold;
    text-transform:capitalize;


  }

   .imdb-bigTitle{
     color:orange;
      margin-bottom:10px;
     font-size:24pt;
     line-height:100%;
    font-family:sans-serif,arial,helvetica,verdana;
    font-weight:bold;
   text-transform:capitalize;

  }
     .imdb-version{
     color:grey;
     font-size:8pt;
     line-height:100%;
     font-family:sans-serif,arial,helvetica,verdana;
  }

.googleroot  { padding:6px; line-height:130% }

.googlechild { padding:6px; margin-left:30px; line-height:130% }

.googlebottom, .googlebottom a:link, .googlebottom a:visited, .googlebottom a:active { font-size:11px; color: #3A4F6C; }

.googlish, .googlish a:link, .googlish a:visited, .googlish a:active { font-size:14px; font-weight:bold; color:#00D; }

.googlepagelinks { font-size:1.1em; letter-spacing:1px }

.googlesmall, .googlesmall a:link, .googlesmall a:active, .googlesmall a:visited { font-size:10px; color:#434951 }



li.helprow { padding:0px; margin:0px 0px 10px 0px }

ul#help    { padding:0px 0px 0px 15px }



option.cat { font-weight:bold; }

option.sub { font-weight:bold;color:#555 }

.caldate   { text-align:right;font-weight:bold;font-size:11px;color:#777;background-color:#DFE6EF;padding:4px;margin:0px }



.warngood { color:green }

.warnbad  { color:red }



#padandcenter { margin-left:auto;margin-right:auto;text-align:center;padding:14px 0px 14px 0px }



#profilename { font-size:28px; font-weight:bold; }

#calendarname { font-size:22px; font-weight:bold; }



#photowrap { padding:6px; }

#phototitle { font-size:24px; border-bottom:1px solid black }

#photoimg   { text-align:center; margin-top:15px } 



#ucpmenu    { line-height:150%;width:22%; background-color: #F5F9FD }

#ucpmenu p  { padding:2px 5px 6px 9px;margin:0px; }

#ucpcontent { background-color: #F5F9FD; line-height:150%; width:auto }

#ucpcontent p  { padding:10px;margin:0px; }



#ipsbanner { position:absolute;top:1px;right:5%; }

#logostrip { border:1px solid #ffb600;background-color: #3860BB;padding:0px;margin:0px; }

#submenu   { border:1px solid #BCD0ED;background-color: #DFE6EF;font-size:10px;margin:3px 0px 3px 0px;color:#3A4F6C;font-weight:bold;}

#submenu a:link, #submenu  a:visited, #submenu a:active { font-weight:bold;font-size:10px;text-decoration: none; color: #3A4F6C; }

#userlinks { border:1px solid #C2CFDF; background-color: #F0F5FA }



#navstrip  { font-weight:bold;padding:6px 0px 6px 0px; }



.activeuserstrip { background-color:#BCD0ED; padding:6px }



/* Form stuff (post / profile / etc) */

.pformstrip { background-color: #feeea0; color:#888888;font-weight:bold;padding:7px;margin-top:1px }

.pformleft  { background-color: #FFFECF; padding:6px; margin-top:1px;width:25%; border-top:1px solid #FDDB32; border-right:1px solid #FFEE77; }

.pformleftw { background-color: #FFFECF; padding:6px; margin-top:1px;width:40%; border-top:1px solid #FDDB32; border-right:1px solid #C2CFDF; }

.pformright { background-color: #FFFECF; padding:6px; margin-top:1px;border-top:1px solid #FDDB32; }



/* Topic View elements */

.signature   { font-size: 10px; color: #339; line-height:150% }

.postdetails { font-size: 10px }

.postcolor   { font-size: 12px; line-height: 160% }



.normalname { font-size: 12px; font-weight: bold; color: #003 }

.normalname a:link, .normalname a:visited, .normalname a:active { font-size: 12px }

.unreg { font-size: 11px; font-weight: bold; color: #900 }



.post1 { background-color: #EEF2F7 }

.post2 { background-color: #EEF2F7 }

.postlinksbar { background-color:#D1DCEB;padding:7px;margin-top:1px;font-size:10px;  }



/* Common elements */

.row1 { background-color: #FFFECF }

.row2 { background-color: #eef2f7 }

.row3 { background-color: #FFFECF }

.row4 { background-color: #eef2f7 }
.rowbs { background-color: #eef2f7; background-image: url(http://www.tntvillage.scambioetico.org/archivio/style_images/mkportal-636/bg_adotta_scritta.jpg)  }

.corniceAlta { }
.corniceBassa {  }

.darkrow1 { background-color: #ffee88; color:#4C77B6; }

.darkrow2 { background-color: #eedd77; color:#3A4F6C; }

.darkrow3 { background-color: #eef2f7; color:#3A4F6C; }



.hlight { background-color: #DFE6EF }

.dlight { background-color: #eef2f7 }



.titlemedium { font-weight:bold; color:#496c9f; padding:7px; margin:0px; }

.titlemedium  a:link, .titlemedium  a:visited, .titlemedium  a:active  { text-decoration: underline; color: #3A4F6C }



/* Main table top (dark blue gradient by default) */

.maintitle { vertical-align:middle;font-weight:bold; color:#496c9f; padding:8px 0px 8px 5px;  }

.maintitle a:link, .maintitle  a:visited, .maintitle  a:active { text-decoration: none; color: #496c9f }

.maintitle a:hover { text-decoration: underline }



/* tableborders gives the white column / row lines effect */

.plainborder { border:1px solid #ffb600;background-color:#F5F9FD }

.tableborder { border:1px solid #ffb600;background-color:#DFE6EF; padding:0; margin:0 }

.tablefill   { border:1px solid #ffee77;background-color:#EEF2F7;padding:6px;  }

.tablepad    { background-color:#F5F9FD;padding:6px }

.tablebasic  { width:100%; padding:0px 0px 0px 0px; margin:0px; border:0px }



.wrapmini    { float:left;line-height:1.5em;width:25% }

.pagelinks   { float:left;line-height:1.2em;width:35% }



.desc { font-size:10px; color:#434951 }

.edit { font-size: 9px }





.searchlite { font-weight:bold; color:#F00; background-color:#FF0 }



#QUOTE { white-space:normal; font-family: Verdana, Arial; font-size: 11px; color: #465584; background-color: #FAFCFE; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }

#CODE  { white-space:normal; font-family: Courier, Courier New, Verdana, Arial;  font-size: 11px; color: #465584; background-color: #FAFCFE; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }



.copyright { font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 9px; line-height: 12px }



.codebuttons  { font-size: 10px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }

.forminput, .textinput, .radiobutton, .checkbox  { font-size: 11px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }



.thin { padding:6px 0px 6px 0px;line-height:140%;margin:2px 0px 2px 0px;border-top:1px solid #FFF;border-bottom:1px solid #FFF }



.purple { color:purple;font-weight:bold }

.red    { color:red;font-weight:bold }

.green  { color:green;font-weight:bold }

.blue   { color:blue;font-weight:bold }

.orange { color:#F90;font-weight:bold }



.maintitle2 { vertical-align: middle; font-weight: bold; color: #6495ed; text-decoration: none; letter-spacing: 1px; padding: 0px 0px 0px 0px;}

.maintitle2 a:link, .maintitle2  a:visited, .maintitle2  a:active { text-decoration: none; color: #6495ed }

.maintitle2 a:hover { text-decoration: none }
